<h1>
  Developer test
</h1>

<textarea [(ngModel)]="inputText" (ngModelChange)="calculateStats()">

</textarea>
<br>
<button (click)="calculateStats()">Calculate stats</button>
<hr>
Number of lines: {{nbLines}}<br>
Number of characters (total): {{nbChar}}<br>
Number of letters: {{nbLetters}}<br>
Number of digits: {{nbDigits}}<br>
Number of other characters: {{nbChar - (nbLetters + nbDigits)}}<br>
Word Count: {{nbWords}}<br>
<span *ngFor="let value of wordsCount">
  Number of words with {{value.length}} letters: {{value.count}}<br>
</span>
